body {
    background-color: #1c1b23;
    color: #fff2f2;
}
.navbar-dark {
    background-color: #191920;
}
.hero-section {
    text-align: center;
    padding: 50px 20px;
    background-color: #313038;
    border-radius: 10px;
}
.btn-primary {
    background-color: #837ee3;
    border-color: #948de7;
    color: #000000;
}
.btn-primary:hover {
    background-color: #b4acee;
    border-color: #b4acee;
    color: #313038;
}
.operation-btn {
    width: 100%;
    margin-bottom: 10px;
}
.form-control {
    background-color: #343a40;
    color: #f8f9fa;
    border-color: #495057;
}
.form-control::file-selector-button {
    background-color: #495057;
    color: #f8f9fa;
    border: none;
}